/* must not output CSS! (output must be empty) */
* {
  color: green;
}
* {
  padding: 0;
  margin: 0;
}
section,
article,
aside,
footer,
header,
nav,
hgroup,
main {
  display: block;
}
body {
  background: url("jugendorchester_dark.png") top / cover fixed;
  min-height: 100vh;
  padding: 1px 0px 80px;
  box-sizing: border-box;
  position: relative;
  perspective: 1px;
}
@media (max-width: 1200px) and (max-height: 797px) {
  body {
    background-size: 1200px;
  }
}
#background {
  transform: translateZ(-1px);
  position: absolute;
  top: -50vh;
  right: -50vw;
  bottom: -50vh;
  left: -50vw;
  background-color: red;
  z-index: -1;
  box-sizing: border-box;
  border: 5px solid green;
}
header {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  margin-bottom: 40px;
}
header h1 {
  font-family: Martel, serif;
  font-weight: 200;
  font-size: 35px;
  color: #ffffff;
  text-align: center;
  border-style: solid none;
  border-color: rgba(255, 255, 255, 0.5);
  border-width: 2px;
  padding: 20px;
  width: 360px;
}
header h1:first-letter {
  font-size: 110%;
}
header h1 .subtitle {
  display: block;
  font-size: 50%;
  font-weight: 300;
}
nav ul {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
nav ul li {
  display: block;
  list-style-type: none;
}
nav ul li a {
  padding: 8px 10px 6px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.35);
  color: rgba(255, 255, 255, 0.75);
  font-family: Martel, serif;
  font-weight: 500;
}
.post {
  padding: 20px;
  border-radius: 0px;
  background-color: #ffffff;
  box-sizing: border-box;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.post .post_title {
  font-family: Asul, serif;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.8);
}
.post .post_title:hover {
  color: rgba(0, 0, 0, 0.9);
  text-decoration: underline;
}
.post p {
  font-family: Martel, serif;
  font-weight: 500;
  text-align: justify;
}
#footer-wrapper {
  /*display: inline-block;
  vertical-align: bottom;
  width: 100%;*/
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}
#footer {
  padding: 20px;
  border-radius: 0px;
  background-color: #ffffff;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: Martel, serif;
  font-weight: 500;
  height: 100%;
  box-sizing: border-box;
  margin-top: 0px;
  text-align: center;
}
