/* must not output CSS! (output must be empty) */
body {
  padding: 0px 0px 60px;
}
#site-header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)) top / 100% fixed, url("jugendorchester_dark_720.jpg") center / cover;
  overflow: hidden;
}
#site-header h1 {
  width: 100%;
  box-sizing: border-box;
}
#site-header nav ul {
  margin-top: 10px;
  width: calc(100% + 2px);
  margin-bottom: -2px;
  flex-wrap: wrap;
}
#site-header nav ul li {
  flex-grow: 1;
}
#site-header nav ul li .sitename {
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  border-right: 2px solid #646464;
  border-bottom: 2px solid #646464;
}
@media (max-width: 350px) {
  #site-header h1 {
    font-size: 10vw !important;
    padding-left: 5.71428571vw !important;
    padding-right: 5.71428571vw !important;
  }
}
@media (min-width: 721px) {
  #site-header {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)) top / 100% fixed, url("jugendorchester_dark_1080.jpg") center / cover;
  }
}
* {
  padding: 0;
  margin: 0;
}
section,
article,
aside,
footer,
header,
nav,
hgroup,
main {
  display: block;
}
body {
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  perspective: 1px;
}
#site-header a {
  text-decoration: none;
}
#site-header h1 {
  font-family: Martel, serif;
  font-weight: 200;
  font-size: 35px;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}
#site-header h1:first-letter {
  font-size: 110%;
}
#site-header h1 .subtitle {
  display: block;
  font-size: 50%;
  font-weight: 300;
}
#site-header nav ul {
  display: flex;
  flex-direction: row;
}
#site-header nav ul li {
  display: block;
  list-style-type: none;
}
#site-header nav ul li .sitename {
  padding: 8px 10px 6px;
  display: block;
  font-family: Martel, serif;
  font-weight: 500;
}
#site-header nav ul li a.sitename {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
  background-color: rgba(0, 0, 0, 0.4);
}
#site-header nav ul li a.sitename:hover {
  text-decoration: underline;
}
#site-header nav ul li span.sitename {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
}
.post {
  padding: 18px 20px 20px;
  border-radius: 0px;
  border-style: solid none none;
  border-width: 2px;
  border-color: #646464;
  background-color: #ffffff;
  box-sizing: border-box;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.post .post-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
  text-wrap: avoid;
}
.post .post-header .post-title {
  flex-grow: 1;
  font-family: Asul, serif;
  margin-bottom: 5px;
  margin-right: 15px;
  color: rgba(0, 0, 0, 0.8);
}
.post .post-header .post-title a {
  text-decoration: none;
  color: inherit;
  width: 100%;
  display: block;
}
.post .post-header .post-title a:hover {
  text-decoration: underline;
}
.post .post-header .post-title a:hover {
  color: rgba(0, 0, 0, 0.9);
}
.post .post-header .post-meta {
  flex-grow: 1;
  text-align: right;
  opacity: .7;
}
.post p {
  font-family: Martel, serif;
  font-weight: 500;
  text-align: justify;
}
#footer-wrapper {
  /*display: inline-block;
  vertical-align: bottom;
  width: 100%;*/
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}
#footer {
  padding: 18px 20px 20px;
  border-radius: 0px;
  border-style: solid none none;
  border-width: 2px;
  border-color: #646464;
  background-color: #ffffff;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: Martel, serif;
  font-weight: 500;
  height: 100%;
  box-sizing: border-box;
  margin-top: 0px;
  text-align: center;
}
a {
  text-decoration: underline;
}
a:link {
  color: rgba(0, 0, 0, 0.7);
}
a:visited {
  color: rgba(0, 0, 0, 0.5);
}
a:hover {
  color: rgba(0, 0, 0, 0.9);
}
