* {
  padding: 0;
  margin: 0;
}

section, article, aside, footer, header, nav, hgroup, main {
  display: block;
}

body {
  //background-image: url("orchestra.jpg");
  //background-size: cover;
  background:
          //linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)) top/100% fixed, // darken image
          url("jugendorchester_dark.png") top/cover fixed;
  min-height: 100vh; // fill the viewport for correct footer placement
  padding: 1px 0px @footer-height+@box-margin; // 1px to prevent weird glitch
  box-sizing: border-box;
  position: relative; // to allow absolute footer placement


  perspective: 1px;
}

@media (max-width: 1200px) and (max-height: 797px) {
  body {
    background-size: 1200px;
  }
}

#site-header {
  //.box();
  .centered(400px);

  margin-top: 120px;
  margin-bottom: 40px;

  a {
    text-decoration: none;
  }

  h1 {
    font-family: Martel, serif;
    font-weight: 200;
    font-size: @header-size;
    color: rgba(255, 255, 255, 1);
    text-align: center;

    border-style: solid none;
    border-color: rgba(255, 255, 255, .5);
    border-width: 2px;
    padding: 20px;
    width: 360px;

    &:first-letter {
      font-size: 110%;
    }
    .subtitle {
      display: block;
      font-size: 50%;
      font-weight: 300;
    }
  }

  nav ul {
    .centered(100%);
    max-width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-top: 30px;

    li {
      display: block;
      list-style-type: none; // just to make sure

      .sitename {
        padding: 8px 10px 6px;
        border-radius: 5px;
        //color: rgba(255, 255, 255, .75);
        font-family: Martel, serif;
        font-weight: 500;
      }
      a.sitename {
        .hiddenlink(rgba(255, 255, 255, .75));
        background-color: rgba(0, 0, 0, .35);
      }
      span.sitename {
        color: rgba(255, 255, 255, .8);
        background-color: rgba(0, 0, 0, .5);
      }
    }
  }
}


.post {
  .box();

  .post-title {
    font-family: Asul, serif;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, .8);
    a {
      .hiddenlink();
      &:hover {
        color: rgba(0, 0, 0, .9);
      }
    }
  }

  p {
    .text();
    text-align: justify;
  }
}

main {
  //.centered();
}

#footer-wrapper {
  /*display: inline-block;
  vertical-align: bottom;
  width: 100%;*/
  position: absolute;
  bottom: 0;
  width: 100%;
  height: @footer-height;
}

#footer {
  .box();
  //.centered();
  .text();

  height: 100%;
  box-sizing: border-box;
  margin-top: 0px;

  text-align: center;
}

a {
  text-decoration: underline;
}

a:link {
  color: rgba(0, 0, 0, .7);
}

a:visited {
  color: rgba(0, 0, 0, .5);
}

.centered(@width: @centered-width) {
  width: @width;
  margin-left: auto;
  margin-right: auto;
}

.text() {
  font-family: Martel, serif;
  font-weight: 500;
}

.hiddenlink(@color: inherit) {
  text-decoration: none;
  color: @color;
  &:hover {
    text-decoration: underline;
  }
}